/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    font-size: 1rem;
    margin: 0 10px;
}

.navbar ul li a {
    padding: 8px 20px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.navbar ul li a:hover {
    border-bottom: 2px solid #ffeb3b;
    color: #ffeb3b;
}

.menu {
    display: none;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

#menu-toggle:checked ~ .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
}

#menu-toggle {
    display: none;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.close-button {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background-color: #333;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 10px;
}

.close-button:hover {
    background-color: #ffeb3b;
    color: #333;
}


#About {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #333;
    padding-top: 70px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.image-container {
    flex: 1;
    margin-right: 20px;
    max-width: 100%;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.text-container {
    flex: 2;
    margin-bottom: 20px;
    position: relative;
    text-align: left;
}

.heading-container {
    margin-bottom: 20px;
}

.heading {
    font-size: 2rem;
    color: #333;
}

.subheading {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.text-container p {
    margin-top: 10px;
}


.projects-section {
    padding: 60px 0;
    background-color: #fff;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.project-card p {
    font-size: 1rem;
    color: #666;
}


@media screen and (max-width: 768px) {
    .navbar .menu {
        display: none;
    }

    .navbar .menu-icon {
        display: block;
    }

    .navbar .menu.responsive {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #333;
        padding: 20px;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .navbar .menu.responsive li {
        margin: 10px 0;
    }

    .menu-icon + .menu {
        display: none;
    }

    #menu-toggle:checked + .menu-icon + .menu {
        display: flex;
    }

    #menu-toggle:checked + .menu-icon {
        display: none;
    }

    #menu-toggle:checked ~ .close-button {
        display: flex;
    }

    #menu-toggle:not(:checked) ~ .close-button {
        display: none;
    }

    #About {
        padding-top: 100px;
    }

    .about-content {
        flex-direction: column;
        padding: 0 20px;
    }

    .image-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .text-container {
        margin-right: 0;
        margin-bottom: 60px;
    }

    .subheading {
        padding: 20px;
    }

    .text-container p {
        margin-right: 0;
    }
}

@media screen and (min-width: 769px) {
    .close-button {
        display: none;
    }
}
 */

:root{
    --main-color: rgb(102, 172, 199);
    --main-bg-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo:hover {
    color: rgba(102, 172, 199);
    text-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    transform: scale(1.1);
}

.span {
    color: var(--main-color);
}

.navbar a {
    font-size: 18px;
    color: var(--main-bg-color);
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover, .navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.contact {
    padding: 10px 28px;
    background-color: var(--main-bg-color);
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover {
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    color: var(--main-bg-color);
}

.home {
    width: 100%;
    min-height: 100vh;
    background: rgba(241, 241, 241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.home-content {
    max-width: 800px;
}

.home-content h3 {
    font-size: 42px;
}

.home-content h1 {
    font-size: 62px;
    line-height: 1.2;
}

.home-content p {
    font-size: 20px;
    margin: 25px 0 30px;
    font-family: 'Segoe UI';
}

.btn-box {
    width: 370px;
    display: flex;
    gap: 2em;
}

.btn-1 {
    padding: 15px 28px;
    background-color: black;
    color: var(--main-bg-color);
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-1:hover {
    background-color: var(--main-bg-color);
    color: black;
    border: 2px solid black;
}

.btn-2 {
    padding: 15px 28px;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-2:hover {
    background-color: var(--main-bg-color);
    color: var(--main-color)
}

.img-box img {
    border-radius: 50%;
    width: 550px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-weblkit ::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.6);
    width: 50px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}

.about-img img {
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    border-radius: 50%;
}

.about-content h2 {
    text-align: left;
    color: var(--main-bg-color);
    font-size: 42px;
}

.about-content h3 {
    font-size: 62px;
    color: var(--main-bg-color);
}

.about-content p {
    color: var(--main-bg-color);
    font-size: 20px;
    margin: 2em 0 3em;
    font-family: 'Segoe UI';
}

.footer {
    position: relative;
    bottom: 0;
    padding: 40px;
    width: 100%;
    background-color: black;
}

.footer .social a {
    font-size: 24px;
    color: var(--main-bg-color);
    border: 2px solid var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px var(--main-color), 0 0 10px var(--main-color);
    transition: 0.3s ease;
    padding-top: 2px;
}

.footer .social a:hover {
    transform: scale(1.2) translate(-10px);
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.footer ul {
    margin-top: 0;
    position: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    columns: var(--main-bg-color);
    border-bottom: 3px solid transparent;
    transform: 0.3s ease;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

html {
    scroll-behavior: smooth;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 100px;
}

.project {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 30px;
    width: calc(35% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--main-color);
    transition: transform 0.3s, box-shadow 0.3s;
    color: black;
    height: 650px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    background-color: rgb(77, 153, 182);
}

.project img {
    max-width: 400px;
    height: 400px;
    border-radius: 25px;
    display: block;
}

.project h3 {
    margin-top : 0;
    color: #333;
}

.project p {
    color: black;
    line-height: 1.6;
}

.projects h2 {
    text-align: left;
    color: var(--main-color);
    font-size: 62px;
}


.experience {
    padding: 100px 12%;
    background-color: black;
}

.experience h2 {
    text-align: left;
    color: white;
    font-size: 62px;
    margin-bottom: 40px;
}

.experience-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-item {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--main-color);
    transition: transform 0.3s, box-shadow 0.3s;
    color: black;
}

.experience-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    background-color: rgb(77, 153, 182);
}

.experience-item h3 {
    margin-top: 0;
    color: #333;
}

.experience-item p {
    color: black;
    line-height: 1.6;
}

.experience-item ul {
    padding-left: 20px;
}

.experience-item ul li {
    list-style-type: disc;
    color: black;
    line-height: 1.6;
}